@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';

@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

.font-roboto {
  font-family: 'Roboto', sans-serif;
  font-optical-sizing: auto;
}

.font-grotesk {
  font-family: 'Hanken Grotesk', sans-serif;
  font-optical-sizing: auto;
}

:root {
  --radius: 0.625rem;
  --background: oklch(0.96 0.0066 286.27);
  --foreground: oklch(0.145 0 0);
  --card: oklch(0.96 0.0066 286.27);
  --card-foreground: oklch(0.96 0.0066 286.27);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(23.73% 0.0707 255.79); /* #041E3F*/
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.92 0.0067 286.27); /* #CCE70B*/
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(87.74% 0.2028 117.97); /* #CCE70B*/
  --accent-foreground: oklch(0.205 0 0);
  --tertiary: oklch(0.75 0.0057 286.26); /* #b4c5e4*/
  --main: oklch(0.4 0.0519 208.45); /* #f18f01*/
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.91 0.0275 93.12);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);

  --main-title: 2rem; /* Smaller on mobile */
  --main-title--line-height: 2.4rem;
  --main-title--font-weight: 700;

  --large-title: 1.5rem; /* Smaller on mobile */
  --large-title--line-height: 1.8rem;
  --large-title--font-weight: 700;

  --title-1: 1.25rem; /* Smaller on mobile */
  --title-1--line-height: 1.5rem;
  --title-1--font-weight: 700;

  --title-2: 1rem;
  --title-2--line-height: 1.25rem;
  --title-2--font-weight: 500;

  --title-3: 0.9375rem;
  --title-3--line-height: 1.25rem;
  --title-3--font-weight: 500;

  --headline: 0.8125rem;
  --headline--line-height: 1rem;
  --headline--font-weight: 600;

  --body: 0.875rem;
  --body--line-height: 1.1rem;
  --body--font-weight: 500;

  --callout: 0.75rem;
  --callout--line-height: 0.9375rem;
  --callout--font-weight: 400;

  --subheadline: 0.6875rem;
  --subheadline--line-height: 0.875rem;
  --subheadline--font-weight: 500;

  --footnote: 0.625rem;
  --footnote--line-height: 0.8125rem;
  --footnote--font-weight: 500;

  --caption-1: 0.625rem;
  --caption-1--line-height: 0.8125rem;
  --caption-1--font-weight: 400;

  --caption-2: 0.625rem;
  --caption-2--line-height: 0.8125rem;
  --caption-2--font-weight: 500;
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  :root {
    --main-title: 2.5rem;
    --main-title--line-height: 3rem;

    --large-title: 1.75rem;
    --large-title--line-height: 2rem;

    --title-1: 1.375rem;
    --title-1--line-height: 1.625rem;
  }
}

/* Large devices (desktops, 1024px and up) */
@media (min-width: 1024px) {
  :root {
    --main-title: 3rem;
    --main-title--line-height: 3.45rem;

    --large-title: 2rem;
    --large-title--line-height: 2.125rem;

    --title-1: 1.375rem;
    --title-1--line-height: 1.625rem;
  }
}

/* .dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
} */

@theme inline {
  --breakpoint-xl: 82rem;

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-main: var(--main);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-tertiary: var(--tertiary);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --border-primary: var(--primary);
  --border-main: var(--main);

  --text-main-title: var(--main-title); /* 26px */
  --text-main-title--line-height: var(--main-title--line-height); /* 32px */
  --text-main-title--font-weight: var(--main-title--font-weight);

  --text-large-title: var(--large-title); /* 26px */
  --text-large-title--line-height: var(--large-title--line-height); /* 32px */
  --text-large-title--font-weight: var(--large-title--font-weight);

  --text-title-1: var(--title-1); /* 22px */
  --text-title-1--line-height: var(--title-1--font-height); /* 26px */
  --text-title-1--font-weight: var(--title-1--font-weight);

  --text-title-2: var(--title-2); /* 17px */
  --text-title-2--line-height: var(--title-2--font-height); /* 22px */
  --text-title-2--font-weight: var(--title-2--font-weight);

  --text-title-3: var(--title-3); /* 15px */
  --text-title-3--line-height: var(--title-3--font-height); /* 20px */
  --text-title-3--font-weight: var(--title-3--font-weight);

  --text-headline: var(--headline); /* 13px */
  --text-headline--line-height: var(--headline--line-height); /* 16px */
  --text-headline--font-weight: var(--headline--font-weight);

  --text-body: var(--body); /* 13px */
  --text-body--line-height: var(--body--line-height); /* 16px */
  --text-body--font-weight: var(--body--font-weight);

  --text-callout: var(--callout); /* 12px */
  --text-callout--line-height: var(--callout--line-height); /* 15px */
  --text-callout--font-weight: var(--callout--font-weight);

  --text-subheadline: var(--subheadline); /* 11px */
  --text-subheadline--line-height: var(--subheadline--line-height); /* 14px */
  --text-subheadline--font-weight: var(--subheadline--font-weight);

  --text-footnote: var(--footnote); /* 10px */
  --text-footnote--line-height: var(--footnote--line-height); /* 13px */
  --text-footnote--font-weight: var(--footnote--font-weight);

  --text-caption-1: var(--caption-1); /* 10px */
  --text-caption-1--line-height: var(--caption-1--line-height); /* 13px */
  --text-caption-1--font-weight: var(--caption-1--font-weight);

  --text-caption-2: var(--caption-2); /* 10px */
  --text-caption-2--line-height: var(--caption-2--line-height); /* 13px */
  --text-caption-2--font-weight: var(--caption-2--font-weight);

  --animate-marquee: marquee var(--duration, 30s) linear infinite;
  /* --animate-marquee-reverse: marquee var(--duration, 30s) linear infinite; */

  --animate-star-movement-bottom: star-movement-bottom linear infinite alternate;
  --animate-star-movement-top: star-movement-top linear infinite alternate;

  @keyframes marquee {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(calc(-100% - var(--gap)));
    }
  }

  @keyframes marquee-reverse {
    0% {
      transform: translateX(-50%);
    }
  }

  @keyframes star-movement-bottom {
    0% {
      transform: translate(0%, 0%);
      opacity: 1;
    }
    100% {
      transform: translate(-100%, 0%);
      opacity: 0;
    }
  }

  @keyframes star-movement-top {
    0% {
      transform: translate(0%, 0%);
      opacity: 1;
    }
    100% {
      transform: translate(100%, 0%);
      opacity: 0;
    }
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50 scroll-smooth box-border;
    /* border: 1px dotted red; */
  }
  body {
    @apply bg-background text-foreground;
  }

  section {
    @apply w-[87.5vw] max-w-[1680px] mx-auto;
  }

  main {
    @apply min-h-screen;
  }

  ::-moz-selection {
    /* Code for Firefox */
    @apply bg-tertiary;
  }

  ::selection {
    @apply bg-secondary;
  }

  /* Embla css */
  .embla {
    margin: auto;
    --slide-spacing: 1rem;
    --slide-size: 100%;
  }
  .embla__viewport {
    overflow: hidden;
  }
  .embla__container {
    display: flex;
    touch-action: pan-y pinch-zoom;
    margin-left: calc(var(--slide-spacing) * -1);
  }
  .embla__slide {
    transform: translate3d(0, 0, 0);
    flex: 0 0 var(--slide-size);
    min-width: 0;
    padding-left: var(--slide-spacing);
  }
  .embla__slide__number {
    box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
    border-radius: 1.8rem;
    font-size: 4rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    user-select: none;
  }
  .embla__controls {
    display: grid;
    grid-template-columns: auto 1fr;
    justify-content: space-between;
    gap: 1.2rem;
    margin-top: 1.8rem;
  }
  .embla__buttons {
    display: flex;
    gap: 0.6rem;
    align-items: center;
  }
  .embla__button {
    -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
    -webkit-appearance: none;
    appearance: none;
    background-color: transparent;
    touch-action: manipulation;
    display: inline-flex;
    text-decoration: none;
    cursor: pointer;
    border: 0;
    padding: 0;
    margin: 0;
    box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
    width: 3.6rem;
    height: 3.6rem;
    z-index: 1;
    border-radius: 50%;
    color: var(--text-body);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .embla__button:disabled {
    color: var(--detail-high-contrast);
  }
  .embla__button__svg {
    width: 35%;
    height: 35%;
  }
  .embla__play {
    -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
    -webkit-appearance: none;
    appearance: none;
    background-color: transparent;
    touch-action: manipulation;
    display: inline-flex;
    text-decoration: none;
    cursor: pointer;
    border: 0;
    padding: 0;
    margin: 0;
    box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
    border-radius: 1.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-self: flex-end;
    color: var(--text-body);
    font-weight: 700;
    font-size: 1.4rem;
  }
  .embla__progress {
    border-radius: 0.9rem;
    position: relative;
    height: 0.6rem;
    width: 4rem;
    overflow: hidden;
  }

  .embla__progress__bar {
    background-color: currentColor;
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
  }

  .embla__progress--hidden {
    opacity: 0;
  }

  .embla__progress--hidden .embla__progress__bar {
    animation-play-state: paused;
  }

  @keyframes autoplay-progress {
    0% {
      transform: translate3d(0, 0, 0);
    }
    100% {
      transform: translate3d(100%, 0, 0);
    }
  }

  .embla__controls {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }

  .border {
    border: 1px solid rgb(150, 150, 156);
  }
}
